.span-text {
  margin-top: 15px;
}

.api-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.MuiCard-root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.token-data {
  margin-top: 30;
  margin: 0 auto;
}